@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg-color: #a39fb3;
  --card-color: #fff;
  --header-btn-color: #746f7d;
  --header-btn-hover: #4e5257;
  --header-cart-badge-hover : #847f8d;
  --text-color: #6f727d;
  --overlay-card-bg: #fff;
  --white-color: #fff;
  --body-color : #636361;
  --cart-btn-color : #38383d;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: var(--body-color);
}
